.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.title {
  font-size: 50px;
  font-weight: 900;
}

.subtitle {
  color: grey;
}

.spinner,
.spinner::after {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.spinner {
  animation: rotate 1.1s infinite linear;
  border: 3px solid;
  border-color: grey white grey white ;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.pokemonImage {
  border: 1px solid black;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.pokemonName {
  border: 1px solid black;
  color: black;
  display: flex;
  letter-spacing: 5px;
  padding: 10px;
  text-transform: uppercase;
  justify-content: center;
  width: 180px;
}